<div class="row">
  <div class="col-md-2">
    <%= link_to 'Create a custom game', new_game_path, class: 'btn btn-default btn-sm' %>
  </div>

  <div class="col-md-2">
    <%= form_with(model: Game, local: true) do |form| %>
      <div class="actions">
        <%= form.submit 'Create game with a random word', class: 'btn btn-default btn-sm' %>
      </div>
    <% end %>
  </div >
</div>

<h1>Games</h1>
<br>

<table class="table">
  <thead>
    <tr>
      <th>Word</th>
      <th>Guesses</th>
      <th>Lives</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= masked_word(game) %></td>
        <td><%= game.guesses_list.join(' ') %></td>
        <td><%= game.remaining_lives %></td>
        <td><%= link_to 'Show', game, class: 'btn btn-default btn-xs'%></td>
        <td><%= link_to 'Destroy', game, class: 'btn btn-warning btn-xs', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
