<p>
  <strong>Word:</strong>
  <%= @game.guessed_word %>
</p>

<p>
  <strong>Guesses:</strong>
  <%= @game.guesses %>
</p>

<p>
  <strong>Lives:</strong>
  <%= @game.lives %>
</p>


<% if @game.game_won? %>
  <p>Well done, you won!</p>
<% elsif @game.game_lost? %>
  <p>Game lost! The word was <%= @game.word %></p>
<% else %>
  <%= form_with(model: @game, local: true) do |form| %>

    <%= render 'errors', game: @game %>

    <div class="field">
      <%= form.label "Guess a letter" %>
      <%= form.text_field :guess, id: :game_word %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Back', games_path %>
