<%= render 'games/game_over', game: @game %>
<%= render 'games/errors', object: @guess %>

<p>
  <strong>Word:</strong>
  <%= masked_word(@game) %>
</p>

<p>
  <strong>Guesses:</strong>
  <%= @game.guesses_list.join(' ') %>
</p>

<p>
  <strong>Lives:</strong>
  <%= @game.remaining_lives %>
</p>


<% unless @game.game_over? %>
  <%= form_with(model: [ @game, @game.guesses.build ], local: true, html: {class: 'form-inline'}) do |form| %>

      <%= form.label "Guess a letter", class: 'control-label' %>
      <div class="field form-group">
        <%= form.text_field :letter, id: :game_word, class: 'form-control' %>
      </div>

      <div class="actions form-group">
        <%= form.submit 'Submit', class: 'btn btn-default btn-sm'%>
      </div>
  <% end %>
<% end %>

<%= link_to 'Back', games_path, class: 'btn btn-default btn-sm' %>
