<!DOCTYPE html>
<html>
  <head>
    <title>RailsHangman</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Hangman</a>
        </div>
      </div>
    </nav>

    <div id="main-container" class="container">
      <div class="row">
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg.html_safe, class: "alert alert-#{name}" %>
          <% end -%>
          <%= yield %>
      </div>
    </div>
  </body>
</html>
